{% extends 'base.html.twig' %}

{% block title %}Inscrire | {{ parent() }}{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="title is-2 mt-5">Créer un participant</h1>

    {{ form_start(registrationForm) }}

    {{ form_label(registrationForm.username, null, {'attr': {'class': 'has-text-link'} }) }}
    {{ form_widget(registrationForm.username, {'attr': {'class': 'input is-primary'}}) }}

    {{ form_label(registrationForm.email, null, {'attr': {'class': 'has-text-link'} }) }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'input is-primary'}}) }}

    {{ form_label(registrationForm.plainPassword, null, {'attr': {'class': 'has-text-link'} }) }}
    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input is-primary'}}) }}

    {{ form_label(registrationForm.campus, null, {'attr': {'class': 'has-text-link'} }) }}
    {{ form_widget(registrationForm.campus, {'attr': {'class': 'input is-primary is-uppercase'}}) }}

    {{ form_label(registrationForm.roles, null, {'attr': {'class': 'has-text-link'} }) }}
    {{ form_widget(registrationForm.roles, {'attr': {'class': 'input is-primary is-uppercase'}}) }}

    <button type="submit" class="btn button is-medium is-link is-light">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
