{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

<p class="title is-2 mt-5">Créer une sortie</p>

 {{ form_start(eventForm) }}
<div class="columns">
    <div class="column">
        <div class="columns is-mobile">
            <div class="column is-3">
                <p class="has-text-link">{{ form_label(eventForm.name) }} </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.name) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p class="has-text-link">Date et heure de la sortie: </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.startDate) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p class="has-text-link">Date limite d'inscription: </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.deadLine) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p class="has-text-link">Nombre de places: </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.maxRegistrations) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p class="has-text-link">Durée: </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.duration) }} minutes</p>
            </div>
        </div>
        <div class="columns is-mobile ">
            <div class="column is-3">
                <p class="has-text-link">Description et infos: </p>
            </div>
            <div class="column">
                <p class="has-text-justified">{{ form_row(eventForm.description) }}</p>
            </div>
        </div>
    </div>
    <div class="column is-0"></div>
    <div class="column is-4">
        <div class="columns is-mobile">
            <div class="column is-4">
                <p class="has-text-link">Campus: </p>
            </div>
            <div class="column">
                <p>{# todo ajouter champs #}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p class="has-text-link">Lieu: </p>
            </div>
            <div class="column">
                <p>{# todo ajouter champs #}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p class="has-text-link">Rue: </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.street) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p class="has-text-link">Code Postal: </p>
            </div>
            <div class="column">
                <p>{# todo ajouter champs #}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p class="has-text-link">Latitude: </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.latitude) }} </p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p class="has-text-link">Longitude: </p>
            </div>
            <div class="column">
                <p>{{ form_row(eventForm.longitude) }}</p>
            </div>
        </div>
    </div>
</div>

    <button>Enregistrer</button>

    {{ form_end(eventForm) }}
{% endblock %}

