{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

<p class="title is-2 mt-5">Créer une sortie</p>

 {{ form_start(eventForm) }}
<div class="columns">
    <div class="column">
        <div class="columns is-mobile">
            <div class="column is-3">
                <p>{{ form_label(eventForm.name,{'label_attr': {'class': 'has-text-link'}}) }} </p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.name) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p>{{ form_label(eventForm.startDate) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.startDate) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p>{{ form_label(eventForm.deadLine) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.deadLine) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p>{{ form_label(eventForm.maxRegistrations) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.maxRegistrations) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3">
                <p>{{ form_label(eventForm.duration) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.duration) }}</p>
            </div>
        </div>
        <div class="columns is-mobile ">
            <div class="column is-3">
                <p>{{ form_label(eventForm.description) }}</p>
            </div>
            <div class="column">
                <p class="has-text-justified">{{ form_widget(eventForm.description) }}</p>
            </div>
        </div>
    </div>
    <div class="column is-0"></div>
    <div class="column is-6">
        <div class="columns is-mobile">
            <div class="column is-4">
                <p>{{ form_label(eventForm.campus)}}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.campus) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p>{{ form_label(eventForm.ville) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.ville) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p>{{ form_label(eventForm.location) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.location) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p>{{ form_label(eventForm.street) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.street) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p>{{ form_label(eventForm.postcode) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.postcode) }}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p>{{ form_label(eventForm.latitude) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.latitude) }} </p>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-4">
                <p>{{ form_label(eventForm.latitude) }}</p>
            </div>
            <div class="column">
                <p>{{ form_widget(eventForm.longitude) }}</p>
            </div>
        </div>
    </div>
</div>

    <button>Enregistrer</button>

    {{ form_end(eventForm) }}
{% endblock %}

