{% extends 'base.html.twig' %}

{% block title %}
    Details | {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="title is-2 mt-5">Details sortie</h1>


    <div class="columns">
        <div class="column">
            <div class="columns is-mobile">
                <div class="column is-3">
                    <p class="has-text-link has-text-weight-bold">Nom de la sortie: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.name }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-3">
                    <p class="has-text-link has-text-weight-bold">Date et heure de la sortie: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.startDate|format_datetime('short', 'short', locale='fr') }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-3">
                    <p class="has-text-link has-text-weight-bold">Date limite d'inscription: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.deadline|format_datetime('short', 'none', locale='fr') }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-3">
                    <p class="has-text-link has-text-weight-bold">Nombre de places: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.maxRegistrations }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-3">
                    <p class="has-text-link has-text-weight-bold">Durée: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.duration }} minutes</p>
                </div>
            </div>
            <div class="columns is-mobile ">
                <div class="column is-3">
                    <p class="has-text-link has-text-weight-bold">Description et infos: </p>
                </div>
                <div class="column">
                    <p class="has-text-justified">{{ sortie.description }}</p>
                </div>
            </div>
        </div>
        <div class="column is-0"></div>
        <div class="column is-4">
            <div class="columns is-mobile">
                <div class="column is-4">
                    <p class="has-text-link has-text-weight-bold">Campus: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.organizingSite.name|upper }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-4">
                    <p class="has-text-link has-text-weight-bold">Lieu: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.location.name }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-4">
                    <p class="has-text-link has-text-weight-bold">Rue: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.location.street }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-4">
                    <p class="has-text-link has-text-weight-bold">Code Postal: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.location.city.postcode }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-4">
                    <p class="has-text-link has-text-weight-bold">Ville: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.location.city.name }}</p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-4">
                    <p class="has-text-link has-text-weight-bold">Latitude: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.location.latitude }} </p>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-4">
                    <p class="has-text-link has-text-weight-bold">Longitude: </p>
                </div>
                <div class="column">
                    <p>{{ sortie.location.longitude }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
    <div class="column is-8">
    {% if sortie.participants|length > 0 %}
        <p class="subtitle is-4">Liste des participants inscrits : </p>
        <table class="table mb-5">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tfoot>
            <tbody>

            {% for participant in sortie.participants %}
                <tr>
                    <td>
                        <a href="{{ path('profile_view', {'eventId': sortie.id, 'participantId': participant.id}) }}">{{ participant.username }}
                    </td>
                    <td>{{ participant.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="column">
            <a class="button is-medium is-link is-light" href="{{ path('main_eventsList') }}">Retour</a>
        </div>
        </div>
    {% endif %}
{% endblock %}

