{% extends 'base.html.twig' %}


{% block title %}
    {{ parent()}} | Accueil
{% endblock %}


{% block header %}
    {% include 'inc/nav_bar.html.twig' %}
{% endblock %}


{% block body %}

    <!-- Date et Participant connecté -->
    <section>
        <div class="my-3">
            <p>Date du jour : <span>{{ "now"|date("d/m/Y") }}</span></p>
            <p>Participant : <span>{{ app.user.username }}</span></p>
        </div>
    </section>
    <!-- Formulaire de recherches -->
    <h1 class="title is-3">Filtrer les sorties</h1>
    {{ form_start(eventsListForm) }}
    <div class="columns">
        <div class="column">
            {{ form_row(eventsListForm.campus) }}
            {{ form_row(eventsListForm.searchInputText) }}
            {{ form_row(eventsListForm.startDate) }}
            {{ form_row(eventsListForm.endDate) }}
        </div>
        <div class="column">
            {{ form_row(eventsListForm.isItMeOrganizer) }}
            {{ form_row(eventsListForm.isItMeRegister) }}
            {{ form_row(eventsListForm.isItMeNoRegister) }}
            {{ form_row(eventsListForm.isItEventsDone) }}
        </div>
        <div class="column">
            <div class="buttons mt-3">
                <button type="submit" class="button is-info is-light">Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(eventsListForm) }}
    <!-- La liste des Sorties -->
    <section>
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits / Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in eventsList %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startDate|date("d/m/Y - H:m") }}</td>
                    <td>{{ event.deadLine|date("d/m/Y")  }}</td>
                    <td>{{ event.participants|length }} / {{ event.maxRegistrations }}</td>
                    <td>{{ event.state.wording }}</td>
                    <td>{{ event.isItParticipantOfEvent(app.user)? 'X' : '' }}</td>
                    <td>{{ event.organizer.username }}</td>
                    <td>
                        <a href=""><span class="icon"><i class="fas fa-search"></i></span></a>
                        {% if event.state.wording == 'Créée' and event.organizer.id == app.user.id %}
                            <a href=""><span class="icon"><i class="far fa-edit"></i></span></a>
                            <a href=""><span class="icon"><i class="far fa-calendar-check"></i></span></a>
                        {% elseif (event.state.wording == 'Ouverte' or event.state.wording == 'clôturée') and event.isItParticipantOfEvent(app.user) %}
                            <a href=""><span class="icon"><i class="fas fa-user-minus"></i></span></a>
                        {% elseif (event.state.wording == 'Ouverte' or event.state.wording == 'clôturée') and event.organizer.id == app.user.id %}
                            <a href=""><span class="icon"><i class="far fa-trash-alt"></i></span></a>
                        {% elseif event.state.wording == 'Ouverte' and not event.isItParticipantOfEvent(app.user) %}
                            <a href=""><span class="icon"><i class="fas fa-user-plus"></i></span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a class="button is-info is-light my-3" href="">Créer une sortie</a>
        </div>
    </section>

{% endblock %}

