{% extends 'base.html.twig' %}


{% block title %}
    {{ parent()}} | Accueil
{% endblock %}


{% block header %}
    {% include 'inc/nav_bar.html.twig' %}
{% endblock %}


{% block body %}

    <!-- Date et Participant connecté -->
    <section class="columns my-3">
        <div class="column is-3 is-offset-9">
            <p><strong>Date du jour : </strong><span>{{ "now"|date("d/m/Y") }}</span></p>
            <p><strong>Participant : </strong><span>{{ app.user.username }}</span></p>
        </div>
    </section>

    <!-- Formulaire de recherches -->
    <h1 class="title is-3">Filtrer les sorties</h1>
    {{ form_start(eventsListForm) }}
    <div class="columns">
        <div class="column px-4">
            {{ form_row(eventsListForm.campus) }}
            {{ form_row(eventsListForm.searchInputText) }}
            {{ form_row(eventsListForm.startDate) }}
            {{ form_row(eventsListForm.endDate) }}
        </div>
        <div class="column is-flex is-flex-direction-column is-justify-content-center px-4">
            {{ form_row(eventsListForm.isItMeOrganizer) }}
            {{ form_row(eventsListForm.isItMeRegister) }}
            {{ form_row(eventsListForm.isItMeNoRegister) }}
            {{ form_row(eventsListForm.isItEventsDone) }}
        </div>
        <div class="column is-flex is-flex-direction-column is-justify-content-center px-4">
            <div class="buttons mt-3">
                <button type="submit" class="button is-medium is-link is-light">Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(eventsListForm) }}

    <!-- la pagination -->
    <div class="my-6">
        {{ knp_pagination_render(eventsList, null, {}, {
            'align': 'center',
            'size': 'small',
            'rounded': false,
        })}}
    </div>

    <!-- La liste des Sorties -->
    <section>
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th><abbr title="Inscrits / Places">Ins./Pl.</abbr></th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in eventsList %}
                <tr>
                    <td>{{ event.name|u.truncate(60, '...') }}</td>
                    <td>{{ event.startDate|date("d/m/Y - H:m") }}</td>
                    <td>{{ event.deadLine|date("d/m/Y")  }}</td>
                    <td>{{ event.participants|length }} / {{ event.maxRegistrations }}</td>
                    <td>{{ event.state.wording }}</td>
                    <td>{{ eventStates[event.id].isItParticipant? 'X' : '' }}</td>
                    <td>{{ event.organizer.username }}</td>
                    <td>
                        {% if eventStates[event.id].isItDisplay %}
                            <!-- afficher -->
                            <a href="{{ path('details', {id: event.id}) }}" title="Détails de la sortie"><span class="icon"><i class="fas fa-search"></i></span></a>
                        {% endif %}
                        {% if eventStates[event.id].isItModifyOrPublish %}
                            <!-- éditer et publier -->
                            <a href=""><span class="icon"><i class="far fa-edit" title="Modifier la sortie"></i></span></a>
                            <a href="{{ path('main_published', {id: event.id}) }}"><span class="icon"><i class="far fa-calendar-check" title="Publier la sortie"></i></span></a>
                        {% endif %}
                        {% if eventStates[event.id].isItRenounce %}
                            <!-- se dés'inscrire -->
                            <a href="{{ path('main_renounce', {id: event.id}) }}" title="Se désister"><span class="icon"><i class="fas fa-user-minus"></i></span></a>
                        {% endif %}
                        {% if eventStates[event.id].isItRegister %}
                            <!-- s'inscrire -->
                            <a href="{{ path('main_register', {id: event.id}) }}" title="S'inscrire"><span class="icon"><i class="fas fa-user-plus"></i></span></a>
                        {% endif %}
                        {% if eventStates[event.id].isItCancel %}
                            <!-- Annuler -->
                            <a href="" title="Annuler la sortie"><span class="icon"><i class="far fa-trash-alt"></i></span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="my-6 px-4">
            <a class="button is-medium is-link is-light" href="{{ path('create') }}">Créer une sortie</a>
        </div>
    </section>

{% endblock %}

