<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    {#
    Meta :
    encodage UTF-8 Html5
    Responsive
    informations aux vieux navigateurs web IE
    #}
    <meta charset="UTF-8">
    <meta name="description" content="Site de sorties !"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#
    CSS
    framework BULMA
    Javascript
    Foontawsome
    #}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    {% block script %}
        <script src="{{ asset('js/navbar.js') }}" defer></script>
    {% endblock %}

    {#
    flavicon
    Title
    #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("img/favicon/apple-icon-57x57.png") }}">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" type="image/gif" href="{{ asset('img/logo.png') }}"/>

    <title>{% block title %}Sortir.com{% endblock %}</title>
</head>
<body>
<header class="color-bg">
    <div class="container">
        {% block header %}
        {% include 'inc/nav_bar.html.twig' %}
        {% endblock %}
    </div>

</header>
<main>
    <div class="container">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="notification is-{{ label }} is-light has-text-centered" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

        {% block body %}

        {% endblock %}
    </div>
</main>
<footer class="color-bg">
    <div class="container">
        <p class="content has-text-centered">
            &copy; {{ "now"|date("Y") }} Sortir.com<br>
            Logo by <a href="https://pngimage.net/wp-content/uploads/2018/06/meditation-logo-png-1.png">PNGimage</a>
        </p>
    </div>
</footer>
</body>
</html>



